body.single-oer-curriculum {
    /*font-size:16px;*/
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

/** Curriculum Frontend Styles **/
.single-oer-curriculum .container { width:100%; max-width:100%; }
.single-oer-curriculum .container .site-content { margin-top:0; }
.single-oer-curriculum #page.container, .site-content .container { width:100%; max-width: 1440px; padding:0; }
.padding-0 { padding:0 !important; }
.oercurr-tc-controls {
    position: absolute;
    top: 0;
    right: 0;
    background: #283d47 !important;
    padding: 10px 0;
    border-radius: 3px;
}
.oercurr-tc-controls a {
    display: inline;
    padding: 10px 14px;
}
.oercurr-tc-controls a i {
    font-size: 22px !important;
    transition: all .2s ease-in;
    color: #c5c3c3;
}
.oercurr-tc-controls a i:hover {
    color: #fff;
}
.oercurr-tc-grade {
    position: absolute;
    top: 0;
    background: rgba(173, 33, 82, 0.85);
    padding: 5px 15px;
    font-weight: 700;
    color: #fff;
    font-size: 18px !important;
}
.oercurr-tc-details {padding: 5px 0 25px; float: left; width: 100%;}
.single-oer-curriculum .row { margin-right:0; margin-left:0; width:100%; display:block; float:left;}
.oercurr-tc-details-header .oercurr-tc-title,
.oercurr-tc-details-header-fixed .oercurr-tc-title {
    color: #333;
    margin-top: 0;
    margin-bottom:0;
    font-size: 24px;
}
.oercurr-tc-details .oercurr-tc-type { font-size:14px; }
.oercurr-tc-authors-list {
    font-weight: 600;
    font-size: 18px !important;
    margin:5px 0;
    line-height: 24px;
    position:relative;
}
.oercurr-tc-authors-list.padded-right {padding-right: 55px;}
.oercurr-tc-details-description {
    padding: 10px 0 20px 0px;
    color: #333 !important;
    font-size: 14px;
    line-height:18px;
}
.oercurr-tc-details-description p { color:#333 !important; font-size:14px; line-height:18px; margin:0px; }
.oercurr-tc-details-standards-list { padding:20px 0; }
.oercurr-tc-details-standards-list .oercurr-tc-details-standard {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 10px;
    
}
.oercurr-tc-details-standards-list .oercurr-tc-details-standard a {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}
.oercurr-tc-details-tags-list {
    padding: 8px 0 0 0;
}
.oercurr-tc-details-tags-list .oercurr-tc-details-tag {
    display: inline-block;
    margin-right: 15px;
    border-radius: 50px;
    padding: 3px 15px;
    background: #30424a;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    transition: all .2s ease-in;
    cursor: pointer;
}
.oercurr-tc-details-tags-list .oercurr-tc-details-tag:hover {
    text-decoration: none;
    background: #5D1027;
}
.tc-sensitive-material-section {
    display: inline-block;
    margin: 5px 0;
    line-height: 24px;
    width: 100%;
    padding-right: 55px;
}
.tc-sensitive-material-section p {
    display: inline-block;
    margin-bottom: 0 !important;
    padding: 0px;
    margin: 0px !important;
}
.sensitive-material-text {
    color: #ED4141;
    font-size: 14px;
    font-weight: 600 !important;
    vertical-align: middle;
    margin-left: 15px !important;
}
.oercurr-tc-keywords {
    margin: 5px 0;
    line-height: 24px;  
}

.oercurr-tc-keywords.padded-right {
    padding-right: 55px;
    float: left;
    width: 100%;
}
.tc-sensitive-material-section i {
    color: #ED4141;
    font-size: 18px !important;
    vertical-align: middle;
}
.tc-sensitive-material-section .question-popup-button {
    background: #23353d;
    border: unset !important;
    margin-left: -5px !important;
    vertical-align:top;
    border-radius: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
}
.row.tc-investigative-section {
    min-height: 75px;
    background: #851738;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.custom-pink-bg {
    background: #851738;
}
.investigate-section-custom-width {
    width: 23% !important;
}
.oercurr-featured-section { overflow:hidden; }
span.selected-standard-pill {
    padding: 5px 10px;
    background: #f1f1f1;
    height: auto;
    display: inline-block;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    margin: 3px 3px 3px 0px;
    line-height: normal;
}
.investigate-question-section {
    text-align: center;
}
span.selected-standard-pill:last-child {
    margin-bottom: 15px;
}
.investigate-question-section p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.investigate-question-section h2 { 
    font-family: "Biko", 'Helvetica Neue', 'Roboto', Helvetica, sans-serif;
    font-size:18px; 
    font-weight:bold; 
    color:#fff; 
    letter-spacing:1px; 
    margin: 8px 0 7px; 
    white-space: nowrap; 
}
.custom-dark-pink-bg {
    background: #5c0f26;
}
.excerpt-section-custom-width {
    width: 77% !important;
}
.tc-pink-triangle {
    border-left: 100px solid #851738;
}
.excerpt-section {
    color: #fff;
}
.excerpt-section h2 {
    margin-bottom: 0;
    margin-top: 22px;
    padding-left: 5%;
    font-size: 18px;
    font-family: 'Helvetica Neue', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.show-excerpt-section {
    margin: 10px 55px 15px 0; 
    margin-top: 10px;
    margin-right: 55px;
}
.excerpt-button {
    font-size: 16px;
    font-family: "Biko", 'Helvetica Neue', 'Roboto', Arial, Helvetica, sans-serif;
    padding: 9px 18px 7px 18px;
    text-transform: uppercase;
    background-color: #AD2152;
    color: white;
    border: none;
    box-shadow: none!important;
    border-radius: 0;
    transition: all .2s ease-in;
    margin-top:33px;
}
.excerpt-button i {
    margin-left: 15px;
    font-size: 20px;
    vertical-align: middle;
}
.excerpt-content .content-wrapper {
    display: flex;
    margin: 30px;
}
.excerpt-content .content-wrapper span {
    padding: 0 40px;
}
.excerpt-button:hover {
    background-color: #851738;
}
.oercurr-tc-author { margin-left: 10px; }
.oercurr-tc-author a {
    font-size: 14px !important;
    transition: all .2s ease-in;
}
.oercurr-tc-author a:hover {
    text-decoration: underline;
}
.investigative-section-answer {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}

#framework-excerpt {
    display: none;
}

.excerpt-content {
    overflow-y: hidden;
    padding: 50px 100px 50px 50px !important;
    background: #fff;
    color: #4f4f4f;
}

.excerpt-content p { 
    font-size: 16px;
    color:#fff; 
}
.close-excerpt {
    margin-top: 30px;
}
.media-image {
    background: rgba(255,255,255,.25);
}
.image-thumbnail {
    height: auto;
    min-height: 150px;
    width: 100%;
    overflow: hidden;
    border-top: none;
    text-align: center;
    display: block;
    padding: 0;
    position: relative;
}
.image-section {
    width: 100%;
    background-color: #7f7f7f;
    object-fit: fill;
    object-position: 50% 50%;
}

.image-overlay {
    background: #CD620F;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    transition: all .3s ease-in;
}
.image-overlay:hover {
    opacity: 0;
    cursor: pointer;
}

.sensitive-source {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    padding: 10px 14px 10px 14px;
}
.sensitive-source i {
    color: #ED4141;
    font-size: 20px !important;
}
.sensitive-source p { margin:0px; }
.custom-bg-dark {
    background: #283d47 !important;
}
.custom-bg-dark-row {
    height: 18px;
}
.tc-home-tabs {
    background: #dedede;
    width: 100%;
    margin-left: 0;
}
.tc-home-tabs .nav-link {
    margin: 0;
}
.tc-home-tabs-content {
    background: #fff;
    margin-bottom: 20px;
}
.tc-home-tabs-content .tab-pane {
    padding: 10%;
}
.tc-tab-content {
    font-size: 14px !important;
    text-align: justify;
    max-height: 340px;
    height:100%;
    overflow-y: hidden;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
}
.tc-tab-content.slidedown {
    max-height:none;
}
.tc-tab-content p {
    font-size: 18px;
}
.materials-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
}
#tc-materials-tab-content {
    padding: 5% 10%;
}
.tc-read-more {
    float: right;
}
.tc-btn-hide { display:none; }
.tc-read-more, .open-standards {
    font-family: "Biko", 'Helvetica Neue', 'Roboto', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: #283d47;
    padding: 10px 18px 7px 18px;
    border: none;
    transition: all .2s ease-in;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    text-decoration: none;
    margin-bottom:15px;
}
.tc-read-more:hover, .open-standards:hover {
    background-color: #851738;
    text-decoration: none;
}
.tc-home-tabs .nav-item, .ps-info-tabs .nav-item {
    display: inline;
    background-color: #DFDFDF;
    color: #B3B3B3;
    padding: 20px 30px;
    position: relative;
    border: none !important;
}

.tc-home-tabs li.nav-item, .ps-info-tabs li.nav-item {
    text-align: center;
    text-transform: uppercase;
}

.tc-home-tabs li.nav-item .nav-link, .ps-info-tabs li.nav-item .nav-link {
    border: none !important;
    height:100%;
}
.tc-home-tabs li a, .ps-info-tabs li a {
    font-size: 24px;
    color: #828282;
    border: none;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background:transparent;
    border-radius: 0 !important;
    margin-right: 0;
    transition: all .2s ease-in;
}
.tc-home-tabs li.nav-item a.active {
    color:#fff !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
    outline:0;
    border:none !important;
    z-index: 1;
}
.tc-home-tabs li a, .ps-info-tabs li a {
    margin-bottom: 0 !important;
    font-family: "Biko", 'Helvetica Neue', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
}
.tc-home-tabs li.nav-item a.active, .ps-info-tabs li.nav-item a.active {
    color:#fff !important;
}
.tc-home-tabs .col-md-1.nav-item .active:after {
    transition: all .2s ease-in;
    border-left: 2.5em solid transparent;
    border-right: 2.5em solid transparent;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.1));
}
.tc-home-tabs .col-md-2.nav-item .active:after {
    transition: all .2s ease-in;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.1));
}
.tc-home-tabs .col-md-3.nav-item .active:after {
    transition: all .2s ease-in;
    border-left: 3.5em solid transparent;
    border-right: 3.5em solid transparent;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.1));
}
.tc-home-tabs .col-md-4.nav-item .active:after {
    transition: all .2s ease-in;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.1));
}
.tc-home-tabs .col-md-6.nav-item .active:after {
    transition: all .2s ease-in;
    border-left: 6em solid transparent;
    border-right: 6em solid transparent;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.1));
}
.top-navbar-links li:hover a{
    border-bottom: 4px solid #ffd204;
    text-decoration: none !important;
}
.top-navbar-links li a:hover{
    text-decoration: none !important;
    border-bottom: 4px solid #ffd204;
    color:#fff;
}

.tc-home-tabs li.nav-item a:hover,
.tc-home-tabs li.nav-item a.active:hover,
.tc-home-tabs li.nav-item a.active:active{
    color: #fff !important;
    border-radius: 0 !important;
}
.ps-info-tabs li.nav-item a:hover,
.ps-info-tabs li.nav-item a.active:hover,
.ps-info-tabs li.nav-item a.active:active{
    color: #fff !important;
    border-radius: 0 !important;
}
.tc-home-tabs li.nav-item a:hover {
    background: #828282;
    color: #fff;
}
.tc-related-curriculum-section-topbar {
    position: relative;
}
.tc-related-inquiry-grids-section {
    background: linear-gradient(180deg, #4A6F81 0%, #436576 71.27%);    
    padding: 8%;
    display: flex;
    justify-content: space-between;
}
.tc-custom-bg-orange {
    background: #cc610c;
    height: 15px;
}
.tc-custom-bg-pink {
    background: #ab1e51;
    height: 15px;
}
.tc-related-inquiry-section {
    background: #851738;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 27%;
    height: 60px;
    top: -23px;
}
.tc-related-inquiry-section { display:table; }

.tc-related-inquiry-section p {
    font-family: "Biko Bold", 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding-top: 0;
    text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
}
.tc-related-inquiry-blocks-padding {
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 0px;
}
.tc-related-inquiry-grades {
    position: absolute;
    top: 0;
    background: rgba(181,59,89,0.8);
    padding: 5px 15px;
    font-weight: 700;
    color: #fff;
    font-size: 16px !important;
}
.custom-bg-dark-inquiry-sets {
    height: 15px;
}
.tc-related-inquiry-set-description {
    padding: 16px;
    font-weight: 500;
    background: #f0f0f0;
    box-shadow: 0 10px 28px 0 #3333337a;
}
.tc-related-inquiry-set-description p {
    margin-bottom: 0;
    font-size: 16px;
}
.tc-related-inquiry-set-description h4 {
    color: #4F4F4F;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	font-size: 20px;
	margin-bottom: 0;
	font-weight: 400;
}
.tc-material-block { width:75% !important; display: flex;}
.tc-material-block h4 {
    background: #f0f0f0;
    padding: 10px;
    margin-bottom:0;
}
.tc-material-block-link {
    margin-bottom: 15px;
    color: #4f4f4f;
    transition: all .2s ease-in;
}
.tc-material-block-link:hover {
    text-decoration: none;
    color: #4f4f4f;
    transition: 
}
.tc-material-icon {
    background: #E0E0E0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tc-material-description {
    padding: 10px;
    font-weight: 500;
    background: #f0f0f0;
    min-width: 600px;
    max-width: 600px;
}
/** Primary Source Template Styling **/
.primary-source-template .site-header { display: none; }
.primary-source-template .site-content { position:relative; margin-top:0 !important; }
.primary-source-template .container { padding:0; }
.primary-source-template .container .row { margin-right:0; margin-left:0; }
.oercurr-back-button {
    background-color: #5c5c5c;
    padding: 15px 30px;
    color: #ffffff !important;
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 5%;
}
.back-button {
    z-index: 99;
    font-weight:bold;
    transition: all .2s ease-in;
    font-size:14px;
}
.oercurr-nav-block { margin-bottom:15px; margin-top:15px; }
.back-button i {
    margin-right: 15px;
}
.back-button:hover, .back-button i:hover {
    text-decoration: underline;
}
.ps-header {
    background-size: contain !important;
    height: 85vh;
    overflow: hidden;
    width: 100%;
    position:relative;
}
.ps-nav-left {
    position: absolute;
    left: 2.5%;
    top: 45%;
    background-color: rgba(19,29,33, .95);
    transition: all .2s ease-in;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
a.oercurr-nav-left, a.oercurr-nav-right, a.oercurr-expand-img { 
    color:#ffffff; 
    -webkit-font-smoothing:antialiased; 
    display:block; 
    cursor:pointer; 
    padding: 10px;
    transition: all .2s ease-in;
}
a.oercurr-nav-left:hover, a.oercurr-nav-right:hover, a.oercurr-expand-img:hover {
    color: #FFFFFF;
}
.ps-nav-right {
    position: absolute;
    right: 2.5%;
    top: 45%;
    background-color: rgba(19,29,33, .95);
    transition: all .2s ease-in;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.ps-expand {
    position: absolute;
    right: 4.3%;
    top: 0; 
    transition: all .2s ease-in;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.oercurr-center { text-align:center; }
.ps-nav-left:hover, .ps-nav-right:hover, .ps-expand:hover {
    background-color: #5c0f26;
}

ul.ps-info-tabs { margin:0; background-color: #dedede !important; }
ul.ps-info-tabs .nav-link { color:#9a9a9a; background-color: #dedede; text-transform:uppercase; text-align:center; margin:0; }

.ps-info-tabs-content {
    min-height: 500px;
    font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
}
.ps-info-tabs-content .tab-pane { display:none; padding:70px 10%; font-size:16px; }
.ps-info-tabs-content .tab-pane p { font-size:16px; }
.ps-info-tabs-content .tab-pane.active { display:block; }
h1.ps-info-title { margin-bottom:40px; margin-top:0; font-size: 1.5em; }
.ps-meta-icons { text-align:right; }
.ps-meta-icon { margin:0 3px; }
.ps-value, .ps-value a{ font-size:14px; word-break:break-all; }
.ps-resource-url { margin:10px 0 15px; padding:10px 0; }
.tc-view-button {
    padding: 10px 20px;
    z-index: 99;
    transition: all .2s ease-in;
    font-weight: 600;
    font-size: 14px;
    line-height:20px;
}
.tc-view-button:hover, .tc-view-button:active, .tc-view-button:focus { text-decoration: underline }
.fade.in { opacity:1; }
.ps-tagcloud { margin:25px 0 15px; }
.ps-button { padding:5px 10px; border:1px solid #2a3e48; cursor:pointer; margin:3px; display:inline-block; font-size:18px; }
.ps-button:hover { background-color:#2a3e48; color:#fff !important; }
.ps-tagcloud.ps-keywords { margin-top:0; }
.ps-info-tabs-content .tab-pane .col-md-8, .ps-info-tabs-content .tab-pane .col-md-4 { float:left; }
.ps-label { font-weight:700; }
.ps-nav-hidden { display:none; }
.oercurr-ajax-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.35);
    display:none;
}
.oercurr-ajax-loader-img {
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
}
.oercurr-ajax-loader-img img {
    position:absolute;
    top:43%;
}
.oercurr-tc-controls .sharethis-inline-share-buttons#st-1 .st-btn[data-network='sharethis'] { background-color:transparent; }
.oercurr-tc-controls .sharethis-inline-share-buttons#st-1 .st-btn[data-network='sharethis'] svg {
    height:24px;
    width:24px;
    top:2px;
}
.oercurr-tc-controls .sharethis-inline-share-buttons#st-1 .st-btn[data-network='sharethis']:hover svg{ fill:#fff; }
h4.tc-related-curriculum-section-heading, h4.oercurr-tc-field-heading { font-size:16px; text-transform:uppercase; font-weight:bold; line-height:19px; margin:0; float: left;}
h4.oercurr-tc-field-heading span.oer_curriculum_related_fields, h4.tc-related-curriculum-section-heading span.oer_curriculum_related_fields {text-decoration: underline;}
.tc-related-curriculum-details { width:100%; overflow:hidden; }
.oercurr-tc-label-heading { display:block; }
.tc-related-curriculum-details ul.tc-related-curriculum-list { padding-left:0;}
.tc-related-curriculum-details ul.tc-related-curriculum-list li { font-size:14px; list-style:none; }
.tc-related-curriculum-details ul.tc-related-curriculum-list li a { text-decoration:none;  }
.tc-related-curriculum-details ul.tc-related-curriculum-list li a:hover,
.tc-related-curriculum-details ul.tc-related-curriculum-list li a:active,
.tc-related-curriculum-details ul.tc-related-curriculum-list li a:focus { text-decoration: underline; }
.oercurr-author-label, .oercurr-tc-label, .oercurr-tc-label-heading { margin-right:10px; font-size:14px; /*color:#4F4F4F;*/ font-weight:bold; text-transform: uppercase; }
.oercurr-tc-author a { font-size:14px; }
.oercurr-tc-standards-list, .tc-related-curriculum-list, .oercurr-tc-subject-areas-list, .oercurr-tc-objectives-list { padding-left:0; margin-top: 0px; margin-bottom: 0px; padding-bottom:15px;}
.oercurr-tc-standards-list li, .oercurr-tc-subject-areas-list li, .oercurr-tc-objectives-list li { list-style:none; font-size:14px; }
.oercurr-tc-standards-list li a, .oercurr-tc-subject-areas-list li a { text-decoration: none; }
.oercurr-tc-objectives-list li a, .oercurr-tc-objectives-list li a { text-decoration: none; }
.oercurr-tc-standards-list li .collapse { color:#4f4f4f; /*margin-left:15px;*/ }
.oercurr-tc-objectives-details ul.oercurr-tc-objectives-list { padding-left:0;}
.oer_curriculum_keywords_container span {
    margin-left: 0px !important;
    margin-right: 8px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    display: block;
    float: left;
}
.oer_curriculum_keywords_container.tagcloud span a {
  float:left;
  font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height: 100%;
  padding:10px 15px;
  border-radius: 3px;
}
.oercurr-tc-objectives, .oercurr-tc-standards, .tc-related-curriculum-section {margin-bottom: 0px;}
a.tc_oer_curriculum_collapse_button h4 {line-height: 1.8em;}
.tc-related-curriculum-section, .oercurr-tc-standards, .oercurr-tc-subject-areas, .oercurr-tc-objectives {float: left;width: 100%;}
.oercurr-tc-details-content .curriculum-detail, .oercurr-tc-details-content .featured-image {float: left;}
a.tc_oer_curriculum_collapse_button>h4 span.oer_curriculum_acicon {position: relative;}
a.tc_oer_curriculum_collapse_button {
  display: block;
  position: relative;
  clear: left;
  padding-right: 30px;
  float: left;
  margin-bottom: 10px;
}
a.tc_oer_curriculum_collapse_button>h4 span.oer_curriculum_acicon:after {
    content: "\f460";
    font: 400 16px dashicons;
    position: absolute;
    line-height: 16px;
    padding-left: 5px;
    bottom: 1px;
}
a.tc_oer_curriculum_collapse_button.collapsed>h4 span.oer_curriculum_acicon:after {
    content: "\f132";
}
div#tcHiddenFields {float: left;}
.oercurr-tc-details .tc-hidden-fields .form-field ol li {
    list-style: decimal;
    list-style-position: inside;
}

@media (max-width: 1023px){
  .wp_oer_breadcrumb {
      padding: 12px 0px !important;
      font-size: .9em !important;

  }
}
@media (max-width: 991px){
  .oercurr-featured-section .oercurr-tc-details-content .wp_oer_breadcrumb { display: none; }
  .featured-image {padding-left:0px !important;}
}


@media (max-width: 792px){
  .oercurr-tc-details-content .featured-image {
      padding-left: 0px !important;
  }
}
.see-more-row .center { text-align:center; }
.see-more-row .see-more-link, .see-more-row .see-more-link:active { font-size:14px; font-weight:bold; line-height:19px; cursor:pointer; text-decoration:none; }
.see-more-row .see-more-link:hover { text-decoration:underline; }
.oercurr-source-type {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 15px;
    background: #222222;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
}
.oercurr-primary-sources-row { padding:50px; background:#FBFBFB; border-top:1px solid #E0E0E0; }
.oercurr-primary-sources-row .media-image { background:rgba(255,255,255,0.8); width:200px; height:auto; margin-bottom:40px; }
.ps-image-block img { width:100%; }
.oercurr-primary-sources-row .image-thumbnail { width:200px; height:200px; }
.oercurr-primary-sources-row .oercurr-resource-title {
    background: #4f4f4f;
    color: #ffffff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.oercurr-primary-sources-row.ps-related-sources { overflow:hidden; }
.oercurr-tc-notation-list { padding-left:25px; }
.oercurr-tc-value { color:#333 !important; font-size:14px; line-height:19px; }
.oercurr-tc-value p {margin: 0px 0px 10px 0px !important;}
.single-oer-curriculum #main { padding-left:0; padding-right:0; }
.single-oer-curriculum #main .container { padding-left:0; padding-right:0; }
.single-oer-curriculum #main .container .oercurr-featured-section { padding-left:0; padding-right:0; }
.oercurr-full-content { display:none; }
.oercurr-ps-nav-left-block { float:left; }
.oercurr-ps-nav-right-block { float:right !important; }
.oercurr-ps-nav-right, .oercurr-ps-nav-left { color:#333333; font-size:14px; font-weight:bold; line-height:18px; display:flex }
.nav-media-image {
    padding: 10px;
    border: 1px solid #BDBDBD;
    background-color: #ffffff;
    display:flex;
    margin-bottom: 10px;
}
.nav-image-thumbnail {
    width: 80px;
    height: 80px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.oercurr-ps-nav-left .nav-media-icon { margin-right:15px; }
.oercurr-ps-nav-right .nav-media-icon { margin-left:15px; }
.oercurr-ps-nav-left:focus,
.oercurr-ps-nav-right:focus { outline: unset; }
.oercurr-nav-resource-title {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    width: auto;
}
.nav-media-icon {
    display: inline-flex;
    justify-items: center;
    align-items: center;
}
.ps-info-description { margin-bottom: 30px; overflow: hidden; }
/** End of Primary Source Template Styling **/
/** Topic Template Styling **/
.topic-template #page.site { padding-left:0; padding-right:0; }
.topic-template #page.site .site-content { margin-top:0; position: relative;}
.tc-topic-wrapper {
    margin: 75px auto 50px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}
.oercurr-tc-details-header .oercurr-tc-title:before,
.oercurr-tc-details-header-fixed .oercurr-tc-title:before {content:unset !important;}
.single-oer-curriculum .container .oercurr-tc-details-header{
    top: 0;
    -webkit-transition:all .15s ease;
       -moz-transition:all .15s ease;
        -ms-transition:all .15s ease;
         -o-transition:all .15s ease;
            transition:all .15s ease;
    width: 100%;
    padding: 25px 0px;
}
.single-oer-curriculum .container .oercurr-tc-details-header-fixed{
    top: 0;
    -webkit-transition:all .2s ease;
       -moz-transition:all .2s ease;
        -ms-transition:all .2s ease;
         -o-transition:all .2s ease;
            transition:all .2s ease;
    -webkit-border-bottom-right-radius: 8px;
     -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-bottomright: 8px;
         -moz-border-radius-bottomleft: 8px;
            border-bottom-right-radius: 8px;
             border-bottom-left-radius: 8px;
    position: fixed;
    top: 0px;
    z-index: 99998;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 15px 50px;
    left: 0px;
    width: 100%;
    min-width: 100%;
    top: -60px;
}
.single-oer-curriculum .container .oercurr-tc-details-header.fixed{
    position: fixed;
    /*padding: 15px 50px !important;*/
}
.single-oer-curriculum .container .oercurr-tc-details-header.fixed{
    position: fixed;
    /*padding: 15px 50px !important;*/
}

.single-oer-curriculum.admin-bar .container .oercurr-tc-details-header{
    top:32px;
}
.single-oer-curriculum .container .oercurr-tc-details-content {
    padding-left:50px;
    padding-right:50px;
    margin-top:0px;
}
.single-oer-curriculum .wp_oer_breadcrumb {
    padding: 25px 0px;
    font-size: 12px !important;
}
/** End of Topic Template Styling **/
@media (min-width: 1443px){
    .investigate-question-section {
        /* padding: 17.3% 10%; */
    }
}
@media (min-width: 1700px){
    .investigate-question-section {
        /* padding: 16% 10%; */ 
    }
    .tc-home-tabs .col-md-3.nav-item .active:after {
        border-left-width:4em;
        border-right-width:4em;
    }
    .tc-home-tabs .col-md-4.nav-item .active:after {
        border-left-width:4.5em;
        border-right-width:4.5em;
    }
    .tc-home-tabs .col-md-6.nav-item .active:after {
        border-left-width:6.5em;
        border-right-width:6.5em;
    }
}
@media (min-width: 2000px){
    .investigate-question-section {
        /* padding: 14% 10%; */
    }
    .excerpt-section { padding:2%; }
    .tc-home-tabs .col-md-3.nav-item .active:after {
        border-left-width:4.5em;
        border-right-width:4.5em;
    }
    .tc-home-tabs .col-md-4.nav-item .active:after {
        border-left-width:5em;
        border-right-width:5em;
    }
    .tc-home-tabs .col-md-6.nav-item .active:after {
        border-left-width:7em;
        border-right-width:7em;
    }
}
@media (min-width: 1364px) and (max-width: 1442px){
    .investigate-question-section {
        /* padding: 21.9% 5% 21.9% 12%; */
    }
    .tc-related-inquiry-section p {
        font-size: 36px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px){
    .tc-related-inquiry-section {
        width: 27%;
    }
    .tc-related-inquiry-section p {
        font-size: 34px;
        padding-top: 8px;
    }
    .tc-post-details-section {
        max-height: 449px;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .investigate-section-custom-width,
    .excerpt-section-custom-width{
        width:100% !important;
        float:none;
    }
    .investigate-question-section {
        /* padding:7%; */
        text-align:center;
    }
    .oercurr-featured-section {
        max-height:100%;
    }
    .tc-home-tabs .nav-item .active:after { border:none; }
    .tc-related-inquiry-section { width:90%; }
    .back-button {
        height: 45px;
        width: 150px;
    }
    .back-button i {
        margin-right: 7px;
    }
    .back-button {
        font-size: 14px;
    }
}

/** JQUERY UI DIALOG OVERRIDES **/
.ui-widget.standards-dialog, .ui-widget.tags-dialog {
    font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
}
.ui-dialog.standards-dialog, .ui-dialog.tags-dialog {
    padding: 0 !important;
    border: 0 !important;
}
.ui-widget .ui-dialog-titlebar button {
    background: none;
    color: #fff;
    border: none;
}
.standards-dialog .ui-widget-content, .tags-dialog .ui-widget-content {
    border: 0 !important;
    border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    right: .4em !important;
    top: 45% !important;
}
.ui-dialog.standards-dialog .ui-dialog-titlebar, .ui-dialog.tags-dialog .ui-dialog-titlebar {
    background: #2A3E48 !important;
    border-radius: 0;
    border: 0 !important;
}
.ui-dialog.standards-dialog, .ui-dialog.tags-dialog {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui-widget-overlay {
    background: #000 !important;
    opacity: .7 !important;
}
#standards-dialog, #tags-dialog {
    display: none;
}
#tags-dialog .oercurr-tc-details-tags-list {
    padding-top: 20px;
}
.tc-primary-source-sensitive-material-section p { padding:5px 15px 6px; }
.resource-thumbnail {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.text-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ps-details-row {
    overflow:hidden; 
}
.ps-details-row .ps-info-description li {
    list-style-position: inside;
}
.resource-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(204,97,12,.5);
    transition: all .4s ease-in;
}
.resource-overlay:hover {
    opacity: 0;
}
.resource-row {
    background-color: rgba(205, 98, 15, .5);
}
#tc-historical-background-tab-content .tc-tab-content {
    display: flex;
}
#tc-historical-background-tab-content .tc-tab-content span {
    padding: 0 30px;
}
.sharethis-inline-share-buttons { display:inline !important; }
.ps-meta-icons .st-inline-share-buttons .st-btn {
    background-color: transparent !important;
    padding: 0 5px !important;
}
.ps-meta-icons .st-inline-share-buttons .st-btn svg {
    fill: #4777e5 !important;
    top: 0px !important;
    width: 24px !important;
    height: 24px !important;
}
.ps-youtube-video {
    display:table;
    width:100%;
    height:100%;
    margin: auto;
    max-width: 600px;
}
.ps-youtube-video .youtubeVideoWrapper { display:table-cell; vertical-align:middle; }
.ps-youtube-video .videoWrapper{ padding-top:0; }
.ps-pdf-block { height:100%; }
.ps-pdf-block .psPDFWrapper { margin: 0 auto; width: 100%; height: 100%; max-width:100%; }
.padding-right-0 { padding-right:0 !important; }
.padding-left-0 { padding-left:0 !important; }
.oer-sngl-rsrc-img.oer-sngl-audio-type { border:none; }
@media only screen and (max-width: 600px){
    .ps-youtube-video .videoWrapper {
        width: 100%;
        height: 225px;
    }
    .single-oer-curriculum #main .container .oercurr-tc-details-header {
        top:245px;
        padding:25px 25px 0;
    }
    .single-oer-curriculum.admin-bar #main .container .oercurr-tc-details-header {
        top:286px;
    }
    .wp_oer_breadcrumb { margin-top:60px; }
}
.oercurr-tc-standards-details,
.oercurr-tc-subject-details,
.oercurr-tc-objectives-details {
  float:left;
  clear: left;
}
/** Divi Footer with primary source navigation issue fix **/
.primary-source-template #main-footer { clear:both; }

.oercurr-primary-sources-row .media-image {
    background: rgba(255,255,255,0.8);
    width: 240px;
    height: auto;
    min-height: 356px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: 0px auto 40px auto;
    border-radius: 3px;
    overflow: hidden;
}
.oercurr-primary-sources-row .image-thumbnail {
    height: 240px;
    min-height: 150px;
    width: 240px;
    overflow: hidden;
    border-top: none;
    text-align: center;
    display: block;
    padding: 0;
    position: relative;
}
.oercurr-resource-info {
    display: block;
    float: left;
    width: 100%;
    padding: 18px 11px;
}
.oercurr-primary-sources-row .oercurr-resource-title {
    background: #ffffff;
    color: #4b4b4b;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    font-weight: 600;
}
.oercurr-primary-sources-row div.col {
    float:left;
}
.oercurr-resource-author {
    float: left;
    background: #ffffff;
    color: #4b4b4b;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.oercurr-resource-author_block {
    display: block;
    width: 100%;
    float: left;
    padding: 0px;
    line-height: 1.2em;
}
.oercurr-resource-excerpt {
    float: left;
    width: 100%;
    line-height: 1.2em;
    font-size: .9em;
}

.oercurr-tc-details .tc-hidden-fields .form-field {
    clear: left;
}

.oercurr-tc-details .tc-hidden-fields .form-field ul,
.oercurr-tc-details .tc-hidden-fields .form-field ol {
    padding: 0px;
    margin: 0px;
    margin-bottom:10px;
}

.oercurr-tc-details .tc-hidden-fields .form-field ul li {
    list-style: disc;
    margin: 0px;
    list-style-position: inside;
}

.oercurr-tc-details .tc-hidden-fields .form-field ul.nolist li {
    list-style: none;
}


/* Curriculum Description Excerpt Transition Start */
.oercurr-excerpt-collapsible {overflow: hidden !important;}
.oercurr-morecontent span {display: none;}
.oercurr-morelink {display: block;}
.oercurr-tc-details-description.collapsible{position:relative;}
.oercurr-excerpt-collapsible-pseudo,
.oercurr-excerpt-collapsible-pseudo-less,
.oercurr-excerpt-collapsible-pseudo-more {display:none;}
.oercurr-excerpt-collapsible p, .oercurr-excerpt-collapsible-pseudo p, .oercurr-excerpt-collapsible-pseudo-less p, .oercurr-excerpt-collapsible-pseudo-more p,
.oercurr-excerpt-collapsible ul, .oercurr-excerpt-collapsible-pseudo ul, .oercurr-excerpt-collapsible-pseudo-less ul, .oercurr-excerpt-collapsible-pseudo-more ul {
  display: block !important; 
  margin:0px 0px 10px 0px;
  font-family: inherit !important
}
a.oercurr-morelink {display: inline-block !important;background: transparent !important;}
.oercurr-excerpt-collapsible,
.oercurr-collapsible-excerpt {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition:  all .2s ease-in-out;
  -o-transition:    all .2s ease-in-out;
  -ms-transition:   all .2s ease-in-out;
  transition:       all .2s ease-in-out;
}
/* Curriculum Description Excerpt Transition Start */

img.attachment-inquiry-set-featured {
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
}

.oercurr-resource-container {
  margin:0px auto;
}

.collapse.show{
  display:block !important;
}