.lesson_plan_meta_wrapper .lp-module-title { position: relative;}
.lesson_plan_meta_wrapper .lp-remove-module { position: absolute;right: 0;top: -5px;vertical-align: middle;border-radius: 50%;padding: 4px 8px;}
.lesson_plan_meta_wrapper .lp-sortable-handle { padding-right: 5px; cursor: pointer;}
.lesson_plan_meta_wrapper .ui-sortable-start { height: 37px !important;}
.lesson_plan_meta_wrapper .movable-placeholder { background-color: #cccccc;}
.lesson_plan_meta_wrapper .panel.panel-default.lp-ac-item { position: relative;}
.lesson_plan_meta_wrapper .lp-inner-sortable-handle { position: absolute; left: -8px; cursor: pointer;}
.lesson_plan_meta_wrapper .lp-inner-sortable-handle > i { font-size: 1.2em;}
.movable-placeholder { opacity:0.0;transition:.2s height }
.ui-sortable-helper {
    transform:scale(.9)
}