.lesson_plan_meta_wrapper .lp-module-title {
    position: relative;
}
.lesson_plan_meta_wrapper .lp-remove-module,
.lesson_plan_meta_wrapper .lp-remove-author,
.lesson_plan_meta_wrapper .lp-remove-material,
.lesson_plan_meta_wrapper .lp-remove-source{
    position: absolute;
    right: 0;
    top: -5px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 4px 8px;
}
.lesson_plan_meta_wrapper .lp-sortable-handle i {
    padding-right: 5px;
    cursor: pointer;
}
.lesson_plan_meta_wrapper .ui-sortable-start {
    height: 37px !important;
}
.lesson_plan_meta_wrapper .movable-placeholder {
    background-color: #cccccc;
}
.lesson_plan_meta_wrapper .panel.panel-default.lp-ac-item {
    position: relative;
}
.lesson_plan_meta_wrapper .lp-inner-sortable-handle {
    position: absolute;
    right: 80px;
    top: 15px;
    cursor: pointer;
}
.lesson_plan_meta_wrapper .lp-inner-sortable-handle > i {
    font-size: 1.2em;
}
.lesson_plan_meta_wrapper .lp-oer-person-placeholder {
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
}
.lesson_plan_meta_wrapper .lp-standard-child-element {
    padding-left: 15px;
}
.lesson_plan_meta_wrapper .collapse a,
.lesson_plan_meta_wrapper .lp-standards-wrapper a {
    cursor: pointer;
}
.lesson_plan_meta_wrapper .lp-notation-description {
    padding-left: 20px;
}
.lesson_plan_meta_wrapper .lp-scl {
    padding-top: 5px;
    margin: 0px;
}
.lesson_plan_meta_wrapper span.selected-standard-pill {
    padding: 5px 10px;
    background: #f1f1f1;
    height: auto;
    display: inline-block;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    margin: 3px 3px 3px 0px;
}
.lesson_plan_meta_wrapper span.selected-standard-pill:last-child {
    margin-bottom: 15px;
}
.lesson_plan_meta_wrapper a.remove-ss-pill {
    padding-left: 6px;
    line-height: 1.8em;
}
.lesson_plan_meta_wrapper .panel-group .panel-heading {
    border-bottom: 1px solid #ddd;
}
.lesson_plan_meta_wrapper .lp-material-element-wrapper .input-group-addon {
    padding: 1px 10px;
}
#lpOerStandardModal #oer-lp-standards-list{
    max-height: 400px;
    overflow-y: scroll;
}