body.single-lesson-plans {
    font-size:16px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
/** Curriculum Frontend Styles **/
.single-lesson-plans .container { width:100%; max-width:100%; }
.single-lesson-plans .container .site-content { margin-top:0; }
.single-lesson-plans #page.container, .site-content .container { width:100%; max-width:100%; padding:0; }
.lp-featured-section { background:#436677; max-height:440px; }
.padding-0 { padding:0 !important; }
.tc-lp-controls {
    position: absolute;
    top: 0;
    right: 0;
    background: #283d47 !important;
    padding: 12px 0;
}
.tc-lp-controls a {
    display: block;
    padding: 15px 14px 15px 14px;
}
.tc-lp-controls a i {
    color: #ffb802;
    font-size: 28px !important;
}
.tc-lp-grade {
    position: absolute;
    top: 0;
    background: rgba(181,59,89,0.8);
    padding: 10px 25px;
    font-weight: 700;
    color: #fff;
    font-size: 28px !important;
}
.tc-lp-details {
    padding: 60px 75px;
}
.single-lesson-plans .row { margin-right:0; margin-left:0; }
.tc-lp-details-header .tc-lp-title {
    color: #fff;
    margin-top: 0;
    margin-bottom:0;
}
.tc-lp-authors-list {
    color: #FFB904;
    font-weight: 600;
    font-size: 18px !important;
}
.tc-lp-details-description {
    padding: 50px 0 20px 0;
    color: #fff !important;
    font-size: 16px;
}
.tc-lp-details-description p { color:#fff !important; font-size:18px; }
.tc-lp-details-standards-list { padding:20px 0; }
.tc-lp-details-standards-list .tc-lp-details-standard {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 10px;
}
.tc-lp-details-standards-list .tc-lp-details-standard a {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}
.tc-lp-details-tags-list {
    padding: 8px 0 0 0;
}
.tc-lp-details-tags-list .tc-lp-details-tag {
    display: inline-block;
    margin-right: 35px;
    border-radius: 50px;
    padding: 2px 15px;
    background: #30424a;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}
.tc-sensitive-material-section {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.tc-sensitive-material-section p {
    display: inline-block;
    background: #2b424d;
    margin-bottom: 0 !important;
    padding: 10px 20px;
}
.sensitive-material-text {
    color: #fff;
    font-weight: 600 !important;
    vertical-align: middle;
    margin-left: 15px !important;
}
.tc-sensitive-material-section i {
    color: #fff;
    font-size: 28px !important;
    vertical-align: middle;
}
.tc-sensitive-material-section .question-popup-button {
    background: #23353d;
    border: unset !important;
    margin-left: -5px !important;
    padding: 11.5px 12px;
    vertical-align:top;
}
.tc-investigative-section {
    min-height: 100px;
    background: #851738;
}
.custom-pink-bg {
    background: #851738;
}
.investigate-section-custom-width {
    width: 23% !important;
}
.lp-featured-section { max-height:435px; overflow:hidden; }
span.selected-standard-pill {
    padding: 5px 10px;
    background: #f1f1f1;
    height: auto;
    display: inline-block;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    margin: 3px 3px 3px 0px;
    line-height: normal;
}
.investigate-question-section {
    padding: 19.9%;
}
span.selected-standard-pill:last-child {
    margin-bottom: 15px;
}
.investigate-question-section p {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.investigate-question-section h2 { font-size:24px; font-weight:bold; color:#fff; letter-spacing:1px;}
.custom-dark-pink-bg {
    background: #5c0f26;
}
.excerpt-section-custom-width {
    width: 77% !important;
}
.tc-pink-triangle {
    border-left: 115px solid #851738;
    border-top: 89px solid transparent;
    border-bottom: 89px solid transparent;
}
.excerpt-section {
    padding: 3%;
    color: #fff;
}
.excerpt-section h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: 3px;
    padding-left: 5%;
    font-size:30px;
}
.show-excerpt-section {
    margin-top: 30px;
}
.excerpt-button {
    font-size: 22px;
    padding: 7px 18px;
    text-transform: uppercase;
    background-color: #87213B;
    color: white;
    border: none;
    box-shadow: none!important;
    border-radius: 0;
}
.tc-lp-author { margin:0 3px; }
.tc-lp-author a{
    color: #FFB904 !important;
    font-weight: 600;
    font-size: 18px !important;
}
.tc-lp-author a:hover {
    color: #FFB904;
}
.investigative-section-answer {
    color: #fff;
    font-size: 24px;
    padding: 4% 4% 4% 9%;
}
.excerpt-content {
    max-height: 430px;
    overflow-y: auto;
}
.excerpt-content p { color:#fff; }
.close-excerpt {
    margin-top: 30px;
}
.media-image {
    background: rgba(255,255,255,.25);
}
.media-image .image-thumbnail {
    height: 0;
    overflow: hidden;
    border-top: none;
    text-align: center;
    display: block;
    padding: 0;
    padding-bottom: 75%;
    position: relative;
}
.media-image .image-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #7f7f7f;
}
.sensitive-source {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(56,71,77,0.9);
    padding: 10px 14px 1px 14px;
}
.sensitive-source i {
    color: #fff;
    font-size: 34px !important;
}
.sensitive-source p { margin-bottom:10px; }
.custom-bg-dark {
    background: #283d47 !important;
}
.custom-bg-dark-row {
    height: 22px;
}
.tc-home-tabs {
    background: #dedede;
    width: 100%;
    margin-left: 0;
}
.tc-home-tabs-content {
    background: #fff;
}
.tc-home-tabs-content .tab-pane {
    padding: 10%;
}
.tc-tab-content {
    font-size: 28px !important;
    max-height: 360px;
    overflow-y: hidden;
}
.tc-read-more {
    text-transform: uppercase;
    display: inline-block;
    background: #283d47;
    padding: 5px 20px;
    float: right;
}
.tc-read-more a {
    color: #fff;
    font-size: 24px;
}
.tc-read-more a:hover {
    color:#fff;
}
.tc-home-tabs .nav-item {
    display: inline;
    background-color: #DFDFDF;
    color: #B3B3B3;
    padding: 20px 30px;
    position: relative;
}
.tc-home-tabs li.nav-item {
    text-align: center;
    text-transform: uppercase;
}
.tc-home-tabs li a {
    font-size: 24px;
    color: #7f7f7f;
    border: unset;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background:transparent;
}
.tc-home-tabs li.nav-item a.active {
    color:#fff !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background: #4a6e7f;
    box-shadow: 0 7px 10px 0px #c0c0c0;
    outline:0;
    border:none !important;
    z-index: 1;
}
.tc-home-tabs li a p {
    margin-bottom: 0 !important;
}
.tc-home-tabs li.nav-item a.active p{
    color:#fff !important;
}
.tc-home-tabs .nav-item .active:after{
    border-left: 71px solid transparent;
    border-right: 71px solid transparent;
    border-top: 40px solid #4a6e7f;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 35%;
    filter: drop-shadow(0 8px 3px rgba(0,0,0,0.2));
}
.top-navbar-links li:hover a{
    border-bottom: 4px solid #ffd204;
    text-decoration: none !important;
}
.top-navbar-links li a:hover{
    text-decoration: none !important;
}
.tc-home-tabs li a:hover,
.tc-home-tabs li.nav-item a.active:hover,
.tc-home-tabs li.nav-item a.active:active{
    color: #fff;
    background: #4a6e7f;
    border-radius: 0 !important;
    border:none; 
}
.tc-home-tabs .nav-item .nav-link:hover{
    color: #fff;
}
@media (min-width: 1364px) and (max-width: 1442px){
    .investigate-question-section {
        padding: 21.9% 5% 21.9% 12%;
    }
    .tc-related-inquiry-section p {
        font-size: 42px;
    }
}