body.single-lesson-plans {
    font-size:16px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
/** Curriculum Frontend Styles **/
.single-lesson-plans .container { width:100%; max-width:100%; }
.single-lesson-plans .container .site-content { margin-top:0; }
.single-lesson-plans #page.container, .site-content .container { width:100%; max-width:100%; padding:0; }
.lp-featured-section { 
    background: linear-gradient(180deg, #4A6F81 0%, #436576 71.27%);
    max-height:440px; }
.padding-0 { padding:0 !important; }
.tc-lp-controls {
    position: absolute;
    top: 0;
    right: 0;
    background: #283d47 !important;
    padding: 5px 0;
}
.tc-lp-controls a {
    display: block;
    padding: 10px 14px;
}
.tc-lp-controls a i {
    color: #ffb802;
    font-size: 22px !important;
    transition: all .2s ease-in;
}
.tc-lp-controls a i:hover {
    color: #fff;
}
.tc-lp-grade {
    position: absolute;
    top: 0;
    background: rgba(173, 33, 82, 0.85);
    padding: 5px 15px;
    font-weight: 700;
    color: #fff;
    font-size: 18px !important;
}
.tc-lp-details {
    padding: 60px 75px;
}
.single-lesson-plans .row { margin-right:0; margin-left:0; width:100%; display:block; float:none; }
.tc-lp-details-header .tc-lp-title {
    color: #fff;
    margin-top: 0;
    margin-bottom:0;
    font-size: 24px;
}
.tc-lp-authors-list {
    color: #FFB904;
    font-weight: 600;
    font-size: 18px !important;
}
.tc-lp-details-description {
    padding: 20px 0;
    color: #fff !important;
    font-size: 16px;
}
.tc-lp-details-description p { color:#fff !important; font-size:16px; }
.tc-lp-details-standards-list { padding:20px 0; }
.tc-lp-details-standards-list .tc-lp-details-standard {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 10px;
}
.tc-lp-details-standards-list .tc-lp-details-standard a {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}
.tc-lp-details-tags-list {
    padding: 8px 0 0 0;
}
.tc-lp-details-tags-list .tc-lp-details-tag {
    display: inline-block;
    margin-right: 35px;
    border-radius: 50px;
    padding: 3px 15px;
    background: #30424a;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    transition: all .2s ease-in;
}
.tc-lp-details-tags-list .tc-lp-details-tag:hover {
    text-decoration: none;
    background: #5D1027;
}
.tc-sensitive-material-section {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 41px;
}
.tc-sensitive-material-section p {
    display: inline-block;
    background: #2b424d;
    margin-bottom: 0 !important;
    padding: 5px 15px;
}
.sensitive-material-text {
    color: #fff;
    font-size: 14px;
    font-weight: 600 !important;
    vertical-align: middle;
    margin-left: 15px !important;
}
.tc-sensitive-material-section i {
    color: #fff;
    font-size: 18px !important;
    vertical-align: middle;
}
.tc-sensitive-material-section .question-popup-button {
    background: #23353d;
    border: unset !important;
    margin-left: -5px !important;
    vertical-align:top;
    border-radius: 0;
    height: 100%;
    width: 40px;
}
.row.tc-investigative-section {
    min-height: 75px;
    background: #851738;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.custom-pink-bg {
    background: #851738;
}
.investigate-section-custom-width {
    width: 23% !important;
}
.lp-featured-section { max-height:435px; overflow:hidden; }
.lp-featured-section .featured-image img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: 50% 50%;
}
span.selected-standard-pill {
    padding: 5px 10px;
    background: #f1f1f1;
    height: auto;
    display: inline-block;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    margin: 3px 3px 3px 0px;
    line-height: normal;
}
.investigate-question-section {
    text-align: center;
}
span.selected-standard-pill:last-child {
    margin-bottom: 15px;
}
.investigate-question-section p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.investigate-question-section h2 { 
    font-family: "Biko", Helvetica, sans-serif;
    font-size:18px; 
    font-weight:bold; 
    color:#fff; 
    letter-spacing:1px; 
    margin: 8px 0 7px; 
    white-space: nowrap; 
}
.custom-dark-pink-bg {
    background: #5c0f26;
}
.excerpt-section-custom-width {
    width: 77% !important;
}
.tc-pink-triangle {
    border-left: 75px solid #851738;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.excerpt-section {
    color: #fff;
}

.excerpt-section h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: 22px;
    padding-left: 5%;
    font-size: 18px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.show-excerpt-section {
    margin: 10px 55px 15px 0; 
    margin-top: 10px;
    margin-right: 55px;
}
.excerpt-button {
    font-size: 16px;
    font-family: "Biko";
    padding: 7px 18px;
    text-transform: uppercase;
    background-color: #AD2152;
    color: white;
    border: none;
    box-shadow: none!important;
    border-radius: 0;
    transition: all .2s ease-in;
}
.excerpt-button i {
    margin-left: 15px;
    font-size: 20px;
}

.excerpt-button:hover {
    background-color: #851738;
}
.tc-lp-author { margin-right: 15px; }
.tc-lp-author a {
    color: #FFB904 !important;
    font-weight: 500;
    font-size: 14px !important;
    transition: all .2s ease-in;
}
.tc-lp-author a:hover {
    color: #FFF !important;
    text-decoration: none;
}
.investigative-section-answer {
    color: #fff;
    font-size: 24px;
}

#framework-excerpt {
    display: none;
}

.excerpt-content {
    overflow-y: hidden;
    padding: 50px 100px 50px 50px !important;
}

.excerpt-content p { 
    font-size: 16px;
    color:#fff; 
}
.close-excerpt {
    margin-top: 30px;
}
.media-image {
    background: rgba(255,255,255,.25);
}
.image-thumbnail {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-top: none;
    text-align: center;
    display: block;
    padding: 0;
    padding-bottom: 75%;
    position: relative;
}
.image-section {
    width: 100%;
    background-color: #7f7f7f;
    object-fit: fill;
    object-position: 50% 50%;
}

.image-overlay {
    background: #CD620F;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    transition: all .3s ease-in;
}
.image-overlay:hover {
    opacity: 0;
    cursor: pointer;
}

.sensitive-source {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(56,71,77,0.9);
    padding: 4px 14px 1px 14px;
}
.sensitive-source i {
    color: #fff;
    font-size: 20px !important;
}
.sensitive-source p { margin-bottom:10px; }
.custom-bg-dark {
    background: #283d47 !important;
}
.custom-bg-dark-row {
    height: 18px;
}
.tc-home-tabs {
    background: #dedede;
    width: 100%;
    margin-left: 0;
}

.tc-home-tabs-content {
    background: #fff;
    margin-bottom: 20px;
}
.tc-home-tabs-content .tab-pane {
    padding: 10%;
}
.tc-tab-content {
    font-size: 20px !important;
    max-height: 360px;
    overflow-y: hidden;
}

.tc-tab-content p {
    font-size: 20px;
}
.tc-read-more {
    font-family: "Biko", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: #283d47;
    padding: 10px 18px 7px 18px;
    float: right;
    border: none;
    transition: all .2s ease-in;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    text-decoration: none;
}
.tc-read-more:hover {
    background-color: #851738;
    text-decoration: none;
}
.tc-home-tabs .nav-item {
    display: inline;
    background-color: #DFDFDF;
    color: #B3B3B3;
    padding: 20px 30px;
    position: relative;
    border: none !important;
}

.tc-home-tabs li.nav-item {
    text-align: center;
    text-transform: uppercase;
}

.tc-home-tabs li.nav-item .nav-link {
    border: none !important;
}
.tc-home-tabs li a {
    font-size: 24px;
    color: #828282;
    border: none;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background:transparent;
    border-radius: 0 !important;
    margin-right: 0;
}
.tc-home-tabs li.nav-item a.active {
    color:#fff !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    background: #4a6e7f;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
    outline:0;
    border:none !important;
    z-index: 1;
}
.tc-home-tabs li a {
    margin-bottom: 0 !important;
    font-family: "Biko", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 20px;
}
.tc-home-tabs li.nav-item a.active {
    color:#fff !important;
}
.tc-home-tabs .col-md-3.nav-item .active:after{
    transition: all .2s ease-in;
    border-left: 3.5em solid transparent;
    border-right: 3.5em solid transparent;
    border-top: 40px solid #4a6e7f;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.1));
}
.tc-home-tabs .col-md-4.nav-item .active:after {
    transition: all .2s ease-in;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 40px solid #4a6e7f;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.1));
}
.tc-home-tabs .col-md-6.nav-item .active:after {
    transition: all .2s ease-in;
    border-left: 6em solid transparent;
    border-right: 6em solid transparent;
    border-top: 40px solid #4a6e7f;
    content: " ";
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    filter: drop-shadow(0 5px 3px rgba(0,0,0,0.1));
}
.top-navbar-links li:hover a{
    border-bottom: 4px solid #ffd204;
    text-decoration: none !important;
}
.top-navbar-links li a:hover{
    text-decoration: none !important;
    border-bottom: 4px solid #ffd204;
    color:#fff;
}

.tc-home-tabs li.nav-item a {
    transition: all .2s ease-in;
}
.tc-home-tabs li.nav-item a:hover,
.tc-home-tabs li.nav-item a.active:hover,
.tc-home-tabs li.nav-item a.active:active{
    color: #fff !important;
    background: #4a6e7f;
    border-radius: 0 !important;
}
.tc-home-tabs li.nav-item a:hover {
    background: #828282;
    color: #fff;
}
.tc-related-inquiry-sets-topbar {
    position: relative;
}
.tc-related-inquiry-grids-section {
    background: linear-gradient(180deg, #4A6F81 0%, #436576 71.27%);    
    padding: 8%;
}
.tc-custom-bg-orange {
    background: #cc610c;
    height: 15px;
}
.tc-custom-bg-pink {
    background: #ab1e51;
    height: 15px;
}
.tc-related-inquiry-section {
    background: #851738;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 27%;
    height: 60px;
    top: -23px;
}
.tc-related-inquiry-section { display:table; }

.tc-related-inquiry-section p {
    font-family: "Biko Bold", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    padding-top: 0;
    text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
}
.tc-related-inquiry-blocks-padding {
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin-top: 0px;
}
.tc-related-inquiry-grades {
    position: absolute;
    top: 0;
    background: rgba(181,59,89,0.8);
    padding: 5px 15px;
    font-weight: 700;
    color: #fff;
    font-size: 16px !important;
}
.custom-bg-dark-inquiry-sets {
    height: 15px;
}
.tc-related-inquiry-set-description {
    padding: 16px;
    font-weight: 500;
    background: #f0f0f0;
    box-shadow: 0 10px 28px 0 #3333337a;
}
.tc-related-inquiry-set-description p {
    margin-bottom: 0;
    font-size: 16px;
}
@media (min-width: 1443px){
    .investigate-question-section {
        /* padding: 17.3% 10%; */
    }
}
@media (min-width: 1700px){
    .investigate-question-section {
        /* padding: 16% 10%; */ 
    }
    .tc-home-tabs .col-md-3.nav-item .active:after {
        border-left-width:4em;
        border-right-width:4em;
    }
    .tc-home-tabs .col-md-4.nav-item .active:after {
        border-left-width:4.5em;
        border-right-width:4.5em;
    }
    .tc-home-tabs .col-md-6.nav-item .active:after {
        border-left-width:6.5em;
        border-right-width:6.5em;
    }
}
@media (min-width: 2000px){
    .investigate-question-section {
        /* padding: 14% 10%; */
    }
    .excerpt-section { padding:2%; }
    .tc-home-tabs .col-md-3.nav-item .active:after {
        border-left-width:4.5em;
        border-right-width:4.5em;
    }
    .tc-home-tabs .col-md-4.nav-item .active:after {
        border-left-width:5em;
        border-right-width:5em;
    }
    .tc-home-tabs .col-md-6.nav-item .active:after {
        border-left-width:7em;
        border-right-width:7em;
    }
}
@media (min-width: 1364px) and (max-width: 1442px){
    .investigate-question-section {
        /* padding: 21.9% 5% 21.9% 12%; */
    }
    .tc-related-inquiry-section p {
        font-size: 36px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px){
    .tc-related-inquiry-section {
        width: 27%;
    }
    .tc-related-inquiry-section p {
        font-size: 34px;
        padding-top: 8px;
    }
    .tc-post-details-section {
        max-height: 449px;
    }
}
@media (min-width: 320px) and (max-width: 767px){
    .investigate-section-custom-width,
    .excerpt-section-custom-width{
        width:100% !important;
        float:none;
    }
    .investigate-question-section {
        /* padding:7%; */
        text-align:center;
    }
    .lp-featured-section {
        max-height:100%;
    }
    .tc-home-tabs .nav-item .active:after { border:none; }
    .tc-related-inquiry-section { width:90%; }
}