.wp-block-cgb-block-curriculum-block {
	background: #ff4500;
	border: 0.2rem solid #292929;
	color: #292929;
	margin: 0 auto;
	max-width: 740px;
	padding: 2rem
}

.oercurr-blk-main {
	width: 100%;
	float: none;
	padding: 0px 15px 15px 15px;
	border: 1px solid #c8c8c8;
	margin: 20px 0px 20px 0px
}

.oercurr-blk-topbar {
	padding: 5px 0px
}

.oercurr-blk-wrapper {
	float: none !important
}

div.oercurr-blk-wrapper {
	border-top: 1px solid #c8c8c8;
	padding-top: 15px
}

.oercurr-blk-wrapper,
.oercurr-blk-wrapper div,
.oercurr-blk-wrapper a,
.oercurr-blk-wrapper img,
.oercurr-blk-wrapper ul,
.oercurr-blk-wrapper span {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.oercurr-blk-wrapper {
	position: relative;
	overflow-y: auto !important
}

.oercurr-blk-row {
	width: 100%;
	padding: 20px 0px;
	border-bottom: 1px solid #c8c8c8
}

.oercurr-blk-row:last-of-type {
	border-bottom: 0px !important
}

.oercurr-blk-row:last-of-type {
	padding-bottom: 0px !important
}

.oercurr-blk-row:first-of-type {
	padding-top: 0px !important
}

.oercurr-blk-row:first-of-type {
	border-top: 0px !important
}

a.oercurr-blk-left {
	display: inline-block;
	width: 18%;
	margin-left: .2%;
	vertical-align: top
}

.oercurr-blk-row img {
	display: block !important;
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	padding-right: 0px;
	padding-bottom: 0px;
	margin: 0px 0px 10px 0px !important
}

.oercurr-blk-right {
	display: inline-block;
	width: 81.7%;
	vertical-align: top;
	padding: 0px 10px
}

.oercurr-blk-right .ttl {
	margin: 0px 0px 5px 0px !important;
	display: block
}

.oercurr-blk-right .desc {
	padding-bottom: 10px
}

@media screen and (max-width: 1200px) {
	a.oercurr-blk-left {
		width: auto;
	}
	.oercurr-blk-right {
		width: 100%
	}
	.oercurr-blk-right {
			padding:0px;
	}
}

@media screen and (max-width: 768px) {
	/*
	a.oercurr-blk-left {
		width: auto%
	}
	.oercurr-blk-right {
		width: 60%
	}
	*/
	.oercurr-blk-topbar-left {
		display: block !important;
		max-width: 100% !important
	}
	.oercurr-blk-topbar-right {
		display: block !important;
		max-width: 100% !important;
		text-align: left !important
	}
}

@media screen and (max-width: 580px) {
	a.oercurr-blk-left {
		width: 100%
	}
	a.oercurr-blk-left>img {
		padding-right: s0px !important;
		padding-bottom: 10px !important
	}
	.oercurr-blk-right {
		width: 100%
	}
	.oercurr-blk-wrapper {
		max-height: none !important;
		overflow-y: visible !important
	}
	.oercurr-blk-topbar-left {
		line-height: 24px !important;
		font-size: 18px !important;
		font-weight: 700 !important
	}
}

.oercurr-blk-topbar-left {
	text-align: left;
	width: 100%;
	max-width: 50%;
	display: inline-block;
	font-size: 24px;
	vertical-align: top;
  line-height: 50px;
}

.oercurr-blk-topbar-right {
	text-align: right;
	width: 100%;
	max-width: 50%;
	display: inline-block;
	vertical-align: bottom
}

.oercurr-blk-topbar-display-box,
.oercurr-blk-topbar-sort-box {
	display: inline-block;
	position: relative;
	max-height: 50px !important;
	height: 100%;
	z-index: 90;
	vertical-align: top;
	line-height: 50px;
	width: auto
}

.oercurr-blk-topbar-display-box:first-of-type {
	padding: 0px 15px 0px 0px
}

.oercurr-blk-topbar-display-text span,
.oercurr-blk-topbar-sort-text span {
	margin: 0px 10px 10px 0px
}

.oercurr-blk-topbar-display-text a,
.oercurr-blk-topbar-sort-text a {
	height: 50px;
	display: inline-block;
	vertical-align: top;
	ine-height: 54px
}

.oercurr-blk-topbar-display-text a .fa,
.oercurr-blk-topbar-sort-text a .fa {
	font-size: 24px;
	height: 100%;
	line-height: 50px;
	margin: 0px 5px
}

.oercurr-blk-topbar-display-text a .fa:before,
.oercurr-blk-topbar-sort-text a .fa:before {
	line-height: 35px;
	-webkit-transition: unset !important;
	-o-transition: unset !important;
	transition: unset !important
}

ul.oercurr-blk-topbar-option {
	display: none;
	position: absolute;
	margin: 0px !important;
	min-width: 100%;
	padding: 0px !important;
	border: 1px solid #cdcdcd;
	background-color: #ffffff !important;
	-webkit-transition: unset !important;
	-o-transition: unset !important;
	transition: unset !important
}

ul.oercurr-blk-topbar-option li:before {
	content: unset !important
}

ul.oercurr-blk-topbar-display-option li,
ul.oercurr-blk-topbar-sort-option li {
	list-style: none;
	margin: 5px 0px
}

ul.oercurr-blk-topbar-display-option li a,
ul.oercurr-blk-topbar-sort-option li a {
	display: block;
	text-align: right;
	padding: 5px 10px;
	line-height: 18px;
	font-size: 14px;
	z-index: 9999;
	background-color: #fff
}

ul.oercurr-blk-topbar-display-option li a:focus,
ul.oercurr-blk-topbar-sort-option li a:focus {
	background-color: #e9e9e9 !important
}

ul.oercurr-blk-topbar-display-option li.selected a,
ul.oercurr-blk-topbar-sort-option li.selected a {
	background-color: #e9e9e9 !important
}

.oercurr-postmeta {
	padding-bottom: 6px
}

.tagcloud {
	margin: 0 0 10px !important
}

.oercurr-tags.tagcloud span a {
	margin: 0px 1px;
	display: block !important
}

.oercurr-tags.tagcloud span a:focus {
	-webkit-box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
	box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.1) !important
}

.oercurr-tags.tagcloud span {
	display: inline-block;
	margin-bottom: 2px
}

.oer_curriculum_cur_blk_content_preloader_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #000;
	opacity: .3
}

.oer_curriculum_cur_blk_content_preloader_table {
	position: absolute;
	display: table;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%
}

.oer_curriculum_cur_blk_content_preloader_cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle
}

.oer_curriculum_cur_blk_content_preloader_cell .lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px
}

.oer_curriculum_cur_blk_content_preloader_cell .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #222;
	border-color: #222 transparent #222 transparent;
	-webkit-animation: lds-dual-ring 1.2s linear infinite;
	animation: lds-dual-ring 1.2s linear infinite
}

@-webkit-keyframes lds-dual-ring {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes lds-dual-ring {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}