/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-block { max-width: 1170px; }
.wp-block-cgb-block-curriculum-block  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.oer_curriculum_inspector_subject {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-top: 35px;
}

.oer_curriculum_inspector_subject label.ls_inspector_subject_label {
  width: 100%;
  margin: 0px;
  line-height: 18px;
  font-size: 14px;
  position: relative;
  padding-left: 24px;
  padding-bottom: 5px;
}

input.ls_inspector_subject_checkbox {
  /*-ms-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
  */
  margin: 0px !important;
  width: 16px;
  height: 16px;
  border: 1px solid #616161 !important;
  position: absolute;
  top: 1px;
  left: 4px;
}
input.ls_inspector_subject_checkbox:focus {
    border: 1px solid #616161 !important;
    box-shadow: none !important;
}
input.ls_inspector_subject_checkbox:before {
  width: 20px !important;
  height: 20px !important;
  margin-top: -2px !important;
  margin-left: -4px !important;
}
label.ls_inspector_subject_label.parent {
    display: block;
}
label.ls_inspector_subject_label.child {
    display: block;
    margin-left: 15px;
}
label.components-base-control__label {
    width: 100% !important;
}

.oer_curriculum_inspector_wrapper>label {
    display: block;
    line-height: 22px;
    margin-bottom: 2px;
    color: #555d66;
}

.oer_curriculum_inspector_wrapper {
    padding: 5px 0px;
    margin-bottom:0px !important;
    /*border-top: 1px solid #e2e4e7;*/
}


//MODAL SUBJECT LIST
.oer_curriculum_inspector_sbjt_modal_wrapper_close {
    position: absolute;
    right: 0px;
    top: 45px;
}
.oer_curriculum_inspector_sbjt_modal_wrapper_close span.dashicons {
    font-size: 38px;
    color: #fff;
    height: 38px;
    width: 38px;
    cursor: pointer;
}

.oer_curriculum_inspector_sbjt_modal_resource_wrapper {
  display:none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
}
.oer_curriculum_inspector_sbjt_modal_content_main {
    padding: 0px 20px;
    height: 100%;
    width: 100%;
}
.oer_curriculum_inspector_sbjt_modal_content {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.oer_curriculum_inspector_sbjt_modal_content_subcontainer {
    border-left: 20px solid #fff;
    border-right: 10px solid #fff;
    border-top: 90px solid #fff;
    border-bottom: 70px solid #fff;
    position:relative !important;
}
div#oer_curriculum_inspector_sbjt_modal_pick_blocker {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}
div#oer_curriculum_inspector_sbjt_modal_pick_blocker{display:none;}
div#oer_curriculum_inspector_sbjt_modal_pick_blocker.show{display:block !important;}
.ls_inspector_sbjt_modal_checkbox.locked {
    opacity: .4 !important;
}
.oer_curriculum_inspector_sbjt_modal_center {
  width: 100%;
  max-width: 768px;
  margin: 0px auto;
  height: 100%;
}
.oer_curriculum_inspector_sbjt_modal_table {
  display: table;
  width: 100%;
  height: 100%;
}
.oer_curriculum_inspector_sbjt_modal_cell {
  display: table-cell;
  vertical-align: middle;
}
.oer_curriculum_inspector_sbjt_modal {
  position:relative;
  max-height: 430px;
  min-height: 430px;
  background-color: #ffffff;
  padding: 40px 20px 0px 20px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  order: 1px solid #fff;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
option.oer_curriculum_inspector_sbjt_subject_select_bold {
    font-weight: 700;
}
.oer_curriculum_inspector_sbjt_search_wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px 0px 30px 20px;
    z-index: 1;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    width:100%;
}
.oer_curriculum_inspector_sbjt_search_header {
    position: absolute;
    width: 100%;
    max-width: 98%;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #0071a1;
    height: 20px;
    top: 0px;
    left: 0px;
    padding: 23px;
    line-height: 10px;
    background-color: #fff !important;
    z-index: 99;
}
.oer_curriculum_inspector_sbjt_search_footer {
    position: absolute;
    left: 0px;
    right: 15px;
    bottom: 0px;
    background-color: #fff;
    padding:30px 0px 0px 0px;
    z-index: 1;
}

.interface-complementary-area .components-panel__header.edit-post-sidebar__panel-tabs {
    z-index: 0 !important;
}

.oer_curriculum_inspector_sbjt_search_wrapper input[type="button"] {
    height: 30px;
    margin-right: 1%;
    width: 19%;
}
.oer_curriculum_inspector_sbjt_search_wrapper input[type="text"] {
    height: 30px;
    width: 80%;
}
.oer_curriculum_inspector_sbjt_search_wrapper select {
    height: 30px;
    width: 80%;
    max-width: 80% !important;
}

@media screen and (max-width: 783px) {
  .oer_curriculum_inspector_sbjt_search_wrapper input[type="button"] {
      height: 40px !important;
      width: 39% !important;
  }
  .oer_curriculum_inspector_sbjt_search_wrapper input[type="text"] {
      height: 40px !important;
      width: 60% !important;
  }
  .oer_curriculum_inspector_sbjt_search_wrapper select {
      height: 40px;
      width: 60% !important;
      max-width: 60% !important;
  }
  .oer_curriculum_inspector_sbjt_modal_content_subcontainer {
    border-top: 94px solid #fff !important;
  }
}
