.oer-curriculum-tc-related-inquiry-blocks-padding { position:relative; }
.oer-curriculum-tc-related-inquiry-grades {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    color: #ffffff;
    background: rgba(173, 33, 82, 0.85);
}
.custom-bg-dark { background: #283d47 !important; }
.custom-bg-dark-inquiry-sets { height: 15px; }
.oer-curriculum-tc-related-inquiry-set-description {
    padding: 16px;
    font-weight: 500;
    background: #436576;
    box-shadow: 0 10px 28px 0 #3333337a;
}
.oer-curriculum-tc-related-inquiry-set-description h4 {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#ffffff !important;
}
.oer-curriculum-tc-related-inquiry-set-description h4 a { color:#ffffff !important; white-space:nowrap; }