.oer_curriculum_meta_wrapper .oercurr-module-title {
    position: relative;
    height: 18px;
}
.oer_curriculum_meta_wrapper .oercurr-remove-module,
.oer_curriculum_meta_wrapper .oercurr-remove-author,
.oer_curriculum_meta_wrapper .oercurr-remove-material,
.oer_curriculum_meta_wrapper .oercurr-remove-source,
.oer_curriculum_meta_wrapper .oercurr-remove-section{
    position: absolute;
    right: 0;
    top: -5px;
    vertical-align: middle;
    border-radius: 50%;
    padding: 4px 8px;
}
.oer_curriculum_meta_wrapper .oercurr-sortable-handle i {
    padding-right: 5px;
    cursor: pointer;
}
.oer_curriculum_meta_wrapper .ui-sortable-start {
    height: 37px !important;
}
.oer_curriculum_meta_wrapper .movable-placeholder {
    background-color: #cccccc;
}
.oer_curriculum_meta_wrapper .panel.panel-default.oercurr-ac-item {
    position: relative;
}
.oer_curriculum_meta_wrapper .oercurr-inner-sortable-handle {
    position: absolute;
    right: 80px;
    top: 15px;
    cursor: pointer;
}
.oer_curriculum_meta_wrapper .oercurr-inner-sortable-handle > i {
    font-size: 1.2em;
}
.oer_curriculum_meta_wrapper .oercurr-oer-person-placeholder {
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
}
.oer_curriculum_meta_wrapper .oercurr-standard-child-element {
    padding-left: 15px;
}
.oer_curriculum_meta_wrapper .collapse a,
.oer_curriculum_meta_wrapper .oercurr-standards-wrapper a {
    cursor: pointer;
}
.oer_curriculum_meta_wrapper .oercurr-notation-description {
    padding-left: 20px;
}
.oer_curriculum_meta_wrapper .oercurr-scl {
    padding-top: 5px;
    margin: 0px;
}
.oer_curriculum_meta_wrapper span.selected-standard-pill {
    padding: 5px 10px;
    background: #f1f1f1;
    height: auto;
    display: inline-block;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    margin: 3px 3px 3px 0px;
}
.oer_curriculum_meta_wrapper span.selected-standard-pill:last-child {
    margin-bottom: 15px;
}
.oer_curriculum_meta_wrapper a.remove-ss-pill {
    padding-left: 6px;
    line-height: 1.8em;
}
.oer_curriculum_meta_wrapper .panel-group .panel-heading {
    border-bottom: 1px solid #ddd;
}
.oer_curriculum_meta_wrapper .oercurr-material-element-wrapper .input-group-addon {
    padding: 1px 10px;
}
#lpOerStandardModal #oercurr-standards-list{
    max-height: 400px;
    overflow-y: scroll;
}
ul.oer-standard-list li a {cursor: pointer;}
.oer_curriculum_grades .form-checkbox { margin-bottom:5px; }
.oer_curriculum_grades .form-checkbox input[type=radio] { margin:0; }
.oer_curriculum_radio_label { margin-bottom:0; margin-left:5px; }
.full-width { width:100%; }
.oercurr-download-copy-icon {
    display: inline-block;
    text-align: center;
    margin: 0px;
    border: 1px solid #8c8f94 !important;
    border-left: 0px !important;
    width: 13%;
    cursor: pointer;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input-group-addon.oercurr-download-copy-icon:hover {
    background-color: #e9e9e9;
}
.oercurr-select-label {
    padding: 7px 0px;
    display: inline-block;
    border: 1px solid #8c8f94;
    border-right: 0px !important;
    width: 86%;
    text-indent: 8px;
    font-size: 14px;
    color: #656970;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.oercurr-hidden { display:none; }
.oercurr-remove-download-copy { cursor:pointer; }
.oercurr-selected-section {
    border-left: 1px solid #8c8f94;
    border-right: 1px solid #8c8f94;
    border-top: 1px solid #8c8f94;
    border-bottom: 1px solid #8c8f94;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.oercurr-download-copy-icon .fa {
    font-size: 16px;
    line-height: 30px;
}
.oercurr-selected-section a { word-break:break-all; }
.oercurr-plugin-body {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}
.oercurr-plugin-row {
    padding: 0 15px;
    overflow: hidden;
}
.oercurr-loader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(60,60,60,0.5);
    display: none;
    margin-left: -20px;
    padding-right: 20px;
}
.oercurr-plugin-row:first-child {
    padding: 15px 15px 0;
}
.oercurr-plugin-row .oer-row-left {
    width: 63%;
    float: left;
}
.oercurr-plugin-row .oer-row-right {
    width: 35%;
    float: right;
}
.js #side-sortables.meta-box-sortables .postbox .toggle-indicator:before {
    /*content: "\f343";*/
    font-size: 17px;
    color: #191e23;
    font-weight: 600;
}
.js #side-sortables.meta-box-sortables .postbox.closed .toggle-indicator:before {
    /*content: "\f347";*/
    font-size: 17px;
    color: #191e23;
    font-weight: 600;
}
.js #side-sortables.meta-box-sortables .postbox h2.hndle {
    font-size: 13px;
    color: #191e23;
}
.js #side-sortables.meta-box-sortables .postbox h2.hndle:hover {
    background-color:rgba(241,241,241,0.5);
    cursor:pointer;
}
.button-row { margin:10px 0; }
.text-editor-group { margin:10px 0; }
.panel-group .panel .panel-body div {box-sizing: border-box !important;}
.oer_curriculum_primary_resources_thumbnail_button { margin:10px 0; }
.oercurr-related-objective-row {
    float: left;
    width: 100%;
}

/* BOOTSTRAP 4 ADJUSTMENTS */
.oer_curriculum_meta_wrapper .card-default {padding: 0px; margin:0px;}
.oer_curriculum_meta_wrapper .card-group {padding: 0px; margin:0px 0px 10px 0px;}
.oer_curriculum_meta_wrapper .card-header h3 {font-size: 1.25em;margin: 0px;}
.oer_curriculum_meta_wrapper .btn-light {border-color:#8c8c8c !important;}
.card.card-default {
  width: 100% !important;
  float: left;
  min-width: 100%;
  margin-bottom: 5px !important;
  border: 1px solid #dddddd !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  overflow: hidden;
}
.oercurr-popups .modal-header h3 {margin: 20px 0px 0px 0px;width: 100%;}
.oercurr-popups button.close {position: absolute;right: 10px;top: 10px;}
.oercurr-material-icon {
    font-size: 1.25em;
    font-weight: 400;
    line-height: 2em;
    color: #555;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ccc;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.collapse.in {display: block !important;}
li.oer_sbstndard {position: relative;display: block;float: left;width: 100%;}
.oer_sbstndard input[type="checkbox"] {position: absolute;top: 7px;}
ul.oer-standard-list div {padding-left: 20px;float: left;width: 100%;}
.oer_stndrd_desc {padding-left: 0px !important;}
li.lev1.oer_sbstndard >.oer_stndrd_desc {padding-left: 20px !important;}
li.oer_sbstndard div ul li input[type="checkbox"] {position: absolute;left: 0px;top: 8px;}
li.oer_sbstndard div ul li {
    float: left;
    display: block;
    position: relative;
    padding-left: 20px;
    width: 100%;
}
/*.interface-interface-skeleton__sidebar {overflow: unset !important;}*/
.oercurr-standard-search-bar .form-group .input-group {
    position: relative;
    overflow: hidden;
    border: 1px solid #a4a4a4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.oercurr-standard-search-bar .form-group .input-group #oerLpSearchStandardInput {
    width: 100%;
    margin-right: 42px;
    border: 0px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.oercurr-standard-search-bar .form-group .input-group #oerLpSearchStandardInput:focus {outline:none;}
.oercurr-standard-search-bar .form-group .input-group .input-group-addon {
    width: 38px;
    text-align: center;
    position: absolute;
    right: 0px;
    overflow: hidden;
    border: 1px solid #f9f9f9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.oercurr-standard-search-bar .form-group .input-group .input-group-addon .fa {line-height: 38px;width: 100%;}
.oercurr-element-wrapper >.card-header {background-color: #007cba;color: #fff !important;}
.oercurr-element-wrapper >.card-header h3 {color: #fff;}
.oercurr-element-wrapper >.card-header h3 .oercurr-remove-module {background-color: #ffffff !important;border-color: #ffffff !important;}
.oercurr-element-wrapper >.card-header h3 .oercurr-remove-module .fa {color: #007cba !important;}
.oercurr-element-wrapper >.card-header h3 .oercurr-remove-module:hover .fa {color: #bd2130 !important;}
.oercurr_settings_form table tr th {display: none;}

.post-type-oer-curriculum .components-base-control__field {position: relative;}
.post-type-oer-curriculum  span.components-checkbox-control__input-container {position: absolute;top: 0px;}
.post-type-oer-curriculum  label.components-checkbox-control__label {padding-left: 25px;}

.oer_curriculum_left_column.float {
    position: relative;
}

.oer_curriculum_left_column.float .list-group {
    position: fixed;
    top: 67px;
}


.wp-block-paragraph.has-text-align-left img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.wp-block-paragraph.has-text-align-right img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}